.alert {
    border-radius: 50px;
    
}
.daftarexpense {
    width: 60%;
    margin: auto;
   
}
.span-exp {
    padding: 5px;
}

.addExpense {
    width: 60%;
    margin: auto;
}
.subjudul {
    text-align: center;
}

.App {
    background-color: rgb(223, 255, 255);
}
